@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --white-color: #fff;
    --montserrate-700-font: 'Montserrat', sans-serif;
    --montserrate-400-font: 'Montserrat', sans-serif;
    --light-text-color: #6f6b80;
    --light-green: #f7fcfa;
    --midium-black: #5d616a;
    --background-color: #f6f8f9;
    --input-field-border: #ced4da;
    --comman-color:#36517c;
}

.forgot-password-section{
    width: 100%;
    height: 100vh;
  
}


.forgot-password-section .forgotpassword-container{
    width: 80%;
    margin: auto;
    padding-top: 100px;
}


.forgot-password-section .forgotpassword-container .forgotpassword-content {
width: 100%;
text-align: center;
}
.forgot-password-section .forgotpassword-container .forgotpassword-content .forgotpassword-heading{
    font-size: 2rem;
    font-family: var(--montserrate-700-font);
    color: var(--back-color);
    padding-bottom: 12px;
}
.forgot-password-section .forgotpassword-container .forgotpassword-content .forgot-text{
    font-size: 1.4rem;
    font-family: var(--montserrate-400-font);
    color: var(--midium-black);
    text-transform: capitalize;
}

.forgot-password-section .forgotpassword-container .forgotpassword-form{
    width: 500px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}
.forgot-password-section .forgotpassword-container .forgotpassword-form .form-group{
    width: 80%;
    height: 50px;
    margin: auto;
    margin-top: 40px;
    text-align: start;
 
}
.forgot-password-section .forgotpassword-container .forgotpassword-form .form-group .validation{
    font-size: 0.9rem;
    font-family: var(--montserrate-400-font);
    color: #E91100;
    font-weight: 500;
    text-transform: capitalize;
    padding-top: 3px;
}
.forgot-password-section .forgotpassword-container .forgotpassword-form .form-group input{
    width: 100%;
    height: 100%;
    border: 1px solid var(--midium-black);
    font-family: var(--montserrate-400-font);
    font-size: 1.1rem;
    color: var(--midium-black);
    padding-left: 12px;
}
.forgot-password-section .forgotpassword-container .forgotpassword-form .form-group input::placeholder{
    font-size: 1.1rem;
    color: var(--light-text-color);
    font-family: var(--montserrate-400-font);
    text-transform: capitalize;

}
.forgot-password-section .forgotpassword-container .forgotpassword-form .form-group input:focus{
    outline: 1px solid var(--comman-color);
}

.forgot-password-section .forgotpassword-container .forgotpassword-form .button{
    margin-top: 50px;
}
.forgot-password-section .forgotpassword-container .forgotpassword-form .button button{
    width: 200px;
    height: 55px;
    background-color: var(--comman-color);
    color: var(--white-color);
    font-family: var(--montserrate-400-font);
    font-size: 1.2rem;
    text-transform: capitalize;
    border-radius: 4px;
    cursor: pointer;
}
.forgot-password-section .forgotpassword-container .forgotpassword-form .button .disabled{
    background-color: #6a85b0;
    cursor: not-allowed;
}
.forgot-password-section  .Alert{
    width: 100%;
    height: 50px;
}
.forgot-password-section  .Alert .alert{
    width: 98%;
    height: 100%;
    font-family: var(--montserrate-400-font);
    font-size: 1.1rem;
    text-transform: capitalize;

}